*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	font-family: Arial ;
	text-decoration: none;
}
body{
	margin: 10%;
	background-color: #f2f4f6;
	display: flex;
	justify-content: center;
	align-items: center;
}
div.login-form{
	width: 550px;
	background-color: white;
	box-shadow: 0px 5px 10px black;
}
div.login-form h2{
	text-align: center;
	background-color: #204969;
	padding: 20px 0px;
	color: white;
}
div.login-form form{
	padding: 40px 60px;

}
div.login-form form div.input-field{
	display: flex;
	flex-direction: row;
	margin: 10px 0px;

}
div.login-form form div.input-field i{
	color: darkslategrey;
	padding: 15px 16px;
	background-color: #f2f4f6;
	margin-right: 4px;
}
div.login-form form div.input-field input{
	background-color: #f2f4f6;
	padding: 10px;
	border: none;
	width: 100%;
	padding-left: 15px;

}


div.login-form  form button{
	width: 100%;
  background-color: #5bd1d7;
  padding: 15px 32px;
  border: none;
  font-size: 500;
  color: white;
  margin: 15px 0;

	transition: background-color 0.4s;
}
div.login-form  form button:hover{
	background-color: #41b6e6;
}
div.login-form  form div.extra{
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
div.login-form  form div.extra a:first-child{
	color: darkgray;
}
div.login-form  form div.extra a:last-child{
	color: grey;


}